
body {
    background: url("../img/cloud.jpg") repeat-y;
    background-size: 100%;
    /*color: #373a3c;*/
}

/* Make icons bigger in the navigantion*/

.btn .octicon {
    font-size: 1.3rem;
}

nav .octicon {
    font-size: 1.4em;
}

/* Dropdown Login formular */
header nav .login-form {
    padding: 3px 20px;
}

#navbar-login {
    min-width: 250px;
}

#navbar-login .input-group-addon {
    width: 20%;
}

html, body {
    height: 100%;
}

#footerpusher {
    min-height: 100%;
    padding: 0 0 200px 0;
}

footer {
    /* alignment */
    margin-top: -200px;
    height: 200px;
    padding-top: 3rem;
    /* font */
    font-size: 85%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

footer ul li {
    display: inline;
    padding-right: 4rem;
}

footer ul li a:link, footer ul li a:hover, footer ul li a:active, footer ul li a:visited {
    font-weight: bold;
    color: rgb(120, 120, 120);
}

h1 {
    margin-bottom: 2rem;
}

section {
    margin-bottom: 1rem;
}

section.fullpage {
    padding: 2rem;
    height: 100%;
    position: relative;
}

section.fullpage:last-of-type {
    margin-bottom: 200px; /* push footer down */
}

section.fullpage#login {
    /* Fancy background image goes here */
    background-image: url('../gfx/loginwallpaper.jpg');
}

main {
    padding-top: 3em;
    padding-bottom: 3em;
}

#hacky-background-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#hacky-background {
    background-color: rgba(255, 255, 255, 0.6);
    top: 0px;
    left: 0px;
    position: relative;
    height: 100%;
    margin-bottom: -100vh;
    z-index: -1;
}

.vertical-center {
    display: table;
    height: 100%;
}

.vertical-center.container {
    width: 100%;
}

.vertical-center > div {
    display: table-cell;
    vertical-align: middle;
}

#loginform {
    background: #fff;
    padding: 2rem 2rem 1rem 2rem;
}

.suggestion-container {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
}

/*
a.modul-link:link, a.modul-link:hover, a.modul-link {
	text-decoration: none;
	color:inherit;
}

a.modul-link:hover .modul {
	background-color: rgb(230,230,230);
	color: rgb(20,20,20);
}
*/


.main-section {
    width: 100%;
    position: relative;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.filter {
    float: left;
    min-height: 1px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    position: relative;
    width: 30%;
}

.document-show {
    float: left;
    min-height: 1px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    position: relative;
    width: 70%;
}


.list-group-header {
    background-color: rgb(240,240,240);
}

.content-main .list-group, .content-right .list-group  {
    margin-bottom: 2em;
}

.preview iframe, .preview frame {
    min-height: 800px;
    height: 100%;
}

.preview pre {
    line-break: auto;
    background-color: #e7e7e7;
    border: 1px solid #a0a0a0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: scroll;
    padding: 1em;
}

.preview img, .preview video, .preview pre, .preview iframe, .preview frame  {
    width: 100%;
}


.category {
    display: inline;
    line-height: 2em;
}

.category input[type=submit], .category button {
    padding: 0.1em;
    margin: 0;
    display: inline;
    line-height: 1em;
    font-size: 0.8em;
}

input.add-category {
    min-width: 200px;
}

.category .delete-category {
    display: none;
}

.category:hover .delete-category, .category:focus .delete-category  {
    display: inline-block;
}


.rating {
    font-size: 2em;
    line-height: 2em;
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}

.rating .rating-overlay {
    position: absolute;
    top: 0;
    left: 0;
    color: tomato;
    overflow: hidden;
}

.rating:hover .rating-overlay, .rating-overlay:hover {
    display: none;
}
.ModuleResult
{
    background-color: #22FF0000;
}

.GroupResult
{
    background-color: #2200FF00;
}


.FileResult
{
    background-color: #220000FF;
}

