#components/
node_modules/
*/components/jquery/src/
*/components/octicons/svg/
*/components/bootstrap/node_modules
*/components/jquery/.bower.json
*/components/jquery/AUTHORS.txt
*/components/jquery/LICENSE.txt
*/components/jquery/README.md
*/components/jquery/bower.json
*/components/jquery/sizzle/
*/components/octicons/.bower.json
*/components/octicons/CHANGELOG.md
*/components/octicons/CONTRIBUTING.md
*/components/octicons/LICENSE.txt
*/components/octicons/README.md
*/components/octicons/bower.json

._*
